@import "src/styles/colors";
@import "src/styles/spacing";

.Intro {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid $color-neutral9;
  display: "flex";
  padding-bottom: $spacing-xxxxlarge;
  padding-top: $spacing-xxxxlarge;
}

.IntroTitle {
  text-align: center;
  color: $color-primary3;
}

.IntroSubtitle {
  text-align: center;
  color: $color-neutral6;
}

.Explore {
  align-items: center;
  background: $color-neutral4;
  display: flex;
  justify-content: center;
  padding-bottom: $spacing-xxxlarge * 1.8;
  padding-top: $spacing-xxxlarge;
}

.ExploreTitle {
  color: $color-neutral10;
  text-align: center;
}
