version: 2

jobs:
  build_graphql_server:
    docker:
      - image: circleci/node:8.11
    working_directory: ~/project
    steps:
      - checkout
      - restore_cache:
          key: npm-deps-{{ checksum "packages/graphql-server/yarn.lock" }}
      - run:
          working_directory: ~/project/packages/graphql-server
          command: yarn install
      - save_cache:
          key: npm-deps-{{ checksum "packages/graphql-server/yarn.lock" }}
          paths:
            - packages/graphql-server/node_modules
      - run: 
          working_directory: ~/project/packages/graphql-server
          command: yarn run build
      - persist_to_workspace:
          root: .
          paths:
            - packages/graphql-server/build

  deploy:
    docker:
      - image: circleci/node:8.11
    working_directory: ~/project
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          command: npm install -g now@12.1.14
      - run:
          working_directory: ~/project/packages/graphql-server
          command: now --token $ZEIT_TOKEN

workflows:
  version: 2
  main:
    jobs:
      - build_graphql_server
      - deploy:
          requires:
            - build_graphql_server
