.listings {
  .listings-info {
    padding: 30px 0 0;
  }

  .listings-description {
    margin-bottom: 0.5rem;
  }

  .listings-subcount {
    margin-bottom: 0;
  }

  .listings-sort {
    display: flex;
    padding: 20px 0;
  }

  .listings-sort-type {
    margin-right: 7px;
  }

  .listings-posts {
    padding-bottom: 200px;
  }

  .listings-post {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
  }

  .playing {
    background: #edf9ff;
  }

  .unplayable {
    background: #f5f5f5;
  }

  .playable {
    .post-title {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .post-info {
    padding: 0 0 0 15px;
  }

  .post-metadata {
    font-size: 14px;
    color: #757575;

    .divider {
      margin: 0 7px;
      border-right: 1px solid #bdbdbd;
    }
  }
}
