$color-primary1: #003e6b;
$color-primary2: #0a558c;
$color-primary3: #0f609b;
$color-primary4: #186faf;
$color-primary5: #2680c2;
$color-primary6: #4098d7;
$color-primary7: #62b0e8;
$color-primary8: #84c5f4;
$color-primary9: #b6e0fe;
$color-primary10: #dceefb;

$color-secondary1: #8d2b0b;
$color-secondary2: #b44d12;
$color-secondary3: #cb6e17;
$color-secondary4: #de911d;
$color-secondary5: #f0b429;
$color-secondary6: #f7c948;
$color-secondary7: #fadb5f;
$color-secondary8: #fce588;
$color-secondary9: #fff3c4;
$color-secondary10: #fffbea;

$color-neutral1: #102a43;
$color-neutral2: #243b53;
$color-neutral3: #334e68;
$color-neutral4: #486581;
$color-neutral5: #627d98;
$color-neutral6: #829ab1;
$color-neutral7: #9fb3c8;
$color-neutral8: #bcccdc;
$color-neutral9: #d9e2ec;
$color-neutral10: #f0f4f8;
