$primary1: #003e6b;
$primary2: #0a558c;
$primary3: #0f609b;
$primary4: #186faf;
$primary5: #2680c2;
$primary6: #4098d7;
$primary7: #62b0e8;
$primary8: #84c5f4;
$primary9: #b6e0fe;
$primary10: #dceefb;

$secondary1: #8d2b0b;
$secondary2: #b44d12;
$secondary3: #cb6e17;
$secondary4: #de911d;
$secondary5: #f0b429;
$secondary6: #f7c948;
$secondary7: #fadb5f;
$secondary8: #fce588;
$secondary9: #fff3c4;
$secondary10: #fffbea;

$neutral1: #102a43;
$neutral2: #243b53;
$neutral3: #334e68;
$neutral4: #486581;
$neutral5: #627d98;
$neutral6: #829aB1;
$neutral7: #9fb3c8;
$neutral8: #bcccdc;
$neutral9: #d9e2ec;
$neutral10: #f0f4f8;
