$spacing-xxsmall: 4px;
$spacing-xsmall: 4px;
$spacing-small: 6px;
$spacing-medium: 10px;
$spacing-large: 16px;
$spacing-xlarge: 26px;
$spacing-xxlarge: 42px;
$spacing-xxxlarge: 67px;
$spacing-xxxxlarge: 109px;
