.Clickable {
  background: none;
  border: none;
  display: flex;
  padding: 0;
  text-align: left;
  // This may be a questionable assumption
  width: 100%;
}

.Clickable:focus {
  outline: 3px solid rgba(132, 197, 244, 0.4);
  outline-offset: 3px;
}

.Clickable:active {
  transform: scale(0.99);
}

.ClickableDisabled:active {
  transform: none;
}
