$fontSizes: (
  "xxs": 8px,
  "xs": 11px,
  "s": 13px,
  "m": 16px,
  "l": 26px,
  "xl": 42px,
  "xxl": 67px
);

.Text {
  margin: 0;
  padding: 0;
  line-height: 0.75;
  font-weight: normal;
}

@each $k, $v in $fontSizes {
  .Text-#{$k} {
    font-size: $v;
  }
}
